:root {
    --main-color: #e84c57;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    margin: 0;
    padding: 0;
}

header {
    z-index: 1;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.375rem 0;
    background-color: white;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.container-fluid {
    padding-left: 15px;
    padding-right: 15px;
}

.flex {
    display: flex;
}

.nav-bar {
    justify-content: space-between;
}

.navbar-item ul, .navbar-item, li {
    display: inline;
}

.navbar-item-link a {
    text-decoration: none;
    color: #3f4046;
    font-size: .9375rem;
}

.navbar-item-link a:hover {
    color: var(--main-color, hotpink)
}

.open-menu-div {
    display: inline-block;
    height: 29px;
    width: 40px;
    position: relative;
    z-index: 10;
}

.bar {
    display: inline-block;
    width: 20px;
    height: 2px;
    background-color: #ff0011;
    position: absolute;
    border-radius: 15px;
    transition: all .4s;
}

.open-menu-div span:nth-of-type(1) {
    top: 5px;
    left: 5px;
}

.open-menu-div span:nth-of-type(2),
.open-menu-div span:nth-of-type(3) {
    top: 13px;
    left: 5px;
}

.open-menu-div span:nth-of-type(4) {
    top: 21px;
    left: 5px;
}

div.active .bar:nth-of-type(1),
div.active .bar:nth-of-type(4) {
    display: none;
}

div.active .bar:nth-of-type(2) {
    transform: rotate(45deg);
}

div.active .bar:nth-of-type(3) {
    transform: rotate(-45deg);
}

.logo {
    text-align: center;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.invisible {
    visibility: hidden;
}

footer{
    background-image: url("../images/bg-footer.png")
}
.footer-shovel{
    background-image: url("../images/image-shovel.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    
}

@media screen and (max-width: 480px){
    .hide-footer-link{
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .open-menu-div {
        display: none;
    }

    .navbar-item-link {
        margin-left: 2.5rem;
    }

    .center {
        margin: 0;
    }
}
@media screen and (max-width: 992px) {
    .navbar-item-link {
        margin-left: 1.25rem;
    }
}
/* TODO USING THE TAILWIND REMOVE THIS*/
@media screen  and (max-width: 767px) {
    .navbar-item-link {
        font-size: 130%;
        margin: 20px 0 20px 0;
        font-weight: 400;
    }

    .navbar-item{
        display: none;
    }

    header {
        padding: 1.3125rem 0 1.3125rem 0;
    }

    .center {
        margin: 0;
    }

    .logo img {
        max-width: 100%;
        height: auto;
    }

    .show-nav-menu-on-mobile {
        height: 100%;
        width: 100%;
        background-color: white;
        position: fixed;
    }

    .container-fluid {
        padding: 0;
    }

    .open-menu-div {
        margin-left: 10px;
    }

}
@media screen and (min-width: 1150px){
    .center {
        max-width: 1500px;
        margin: 0 auto 0 auto;
    }
}
